 html {
                font-size: 22px
            }

            body {
                background-color: #333;
                color: rgb(39, 15, 255);
            }

            a {
                color: rgb(0, 136, 255);
            }

            a:visited {
                color: lightgrey;
            }

            a:hover, a:active {
                color: #eee;
            }